<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.js")" type="text/javascript"></script>

<h2>Index Connection</h2>
<hr />
<div>
 <h4>Version: </h4>
 <br />
 <br />
 <hr />
 <h4>Notification: </h4>
 <input type="text" id="message" placeholder="Message" size="100" /> <input type="text" id="connectionId" placeholder="Connection Id" size="100" /> <input type="text" id="groupName" placeholder="Group Name" size="100" />
 <br />
 <br />
 <button id="startStop" class="btn"><i id="startStopIcon" class="glyphicon glyphicon-play"></i> <span id="startStopText">Start Connection</span></button>
 <br />
 <br />
 Send:
 <input type="button" id="sendToMe" class="btn" value="Send to me" />
 <input type="button" id="sendToConnectionId" class="btn" value="Send to connectionId" />
 <input type="button" id="sendBroadcast" class="btn" value="Send broadcast" />
 <input type="button" id="sendToGroup" class="btn" value="Send to group" />
 <br />
 <br />
 Client State Variables:
 <input type="button" id="clientVariable" class="btn" value="Increment client variable" />
 <br />
 <br />
 Group Management:
 <input type="button" id="joinGroup" class="btn" value="Join Group" />
 <input type="button" id="leaveGroup" class="btn" value="Leave Group" />
 <br />
 <br />
 Exception Handling:
 <input type="button" id="throwOnVoidMethod" class="btn" value="Throw on sync method" />
 <input type="button" id="throwOnTaskMethod" class="btn" value="Throw on async method" />
 <input type="button" id="throwHubException" class="btn" value="Throw IndexException" />
</div>
<hr />
<div>
 <h4>Messages</h4>
 <ul id="messages"></ul>
</div>

@section Scripts {
 @Scripts.Render("~/Scripts/jquery.signalR-2.1.1.js")
 @Scripts.Render("~/Features/Hub/DemoHub.js")
 @Scripts.Render("~/signalr/hubs")
}